node-red flow.json
[{"id":"2704b94b.b5a4e6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad5c5df7.c7d57","type":"function","z":"2704b94b.b5a4e6","name":"PreToken","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"sex\",msg.payload.sex)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"smoker\",msg.payload.smoker)\nglobal.set(\"region\",msg.payload.region)\nvar apikey=\"TS7wnhWQgFxwPvefqbxPauDEtYXk8RVe16FSVwltr5_F\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":300,"wires":[["ceca933.78c907"]]},{"id":"ceca933.78c907","type":"http request","z":"2704b94b.b5a4e6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":300,"wires":[["9d1c8953.d23f48"]]},{"id":"f65ef4af.e64268","type":"inject","z":"2704b94b.b5a4e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":260,"wires":[["ad5c5df7.c7d57"]]},{"id":"c2f5ca70.ccdf48","type":"debug","z":"2704b94b.b5a4e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":140,"wires":[]},{"id":"9d1c8953.d23f48","type":"function","z":"2704b94b.b5a4e6","name":"Pre Prediction","func":"var age = global.get('age')\nvar sex = global.get('sex')\nvar bmi = global.get('bmi')\nvar children = global.get('children')\nvar smoker = global.get('smoker')\nvar region = global.get('region')\nvar token=msg.payload.access_token\nvar instance_id=\"bf6a62ec-5ac4-4dfa-9078-d9fa34102538\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"age\", \"sex\", \"bmi\", \"children\", \"smoker\", \"region\"], \"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":300,"wires":[["ccc6bf.4a87c94"]]},{"id":"ccc6bf.4a87c94","type":"http request","z":"2704b94b.b5a4e6","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/8713aa01-0e6f-459a-b78c-0364eae7a3ec/predictions","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":240,"wires":[["c617d6c7.0b4878"]]},{"id":"5ec1f31.725040c","type":"ui_form","z":"2704b94b.b5a4e6","name":"","label":"","group":"6e148a83.5aad24","order":0,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"sex","value":"sex","type":"text","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null},{"label":"children","value":"children","type":"number","required":true,"rows":null},{"label":"smoker","value":"smoker","type":"text","required":true,"rows":null},{"label":"region","value":"region","type":"text","required":true,"rows":null}],"formValue":{"age":"","sex":"","bmi":"","children":"","smoker":"","region":""},"payload":"","submit":"submit","cancel":"clear","topic":"","x":90,"y":340,"wires":[["ad5c5df7.c7d57"]]},{"id":"a0932b4b.c74d78","type":"ui_text","z":"2704b94b.b5a4e6","group":"6e148a83.5aad24","order":1,"width":0,"height":0,"name":"","label":"price","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":220,"wires":[]},{"id":"c617d6c7.0b4878","type":"function","z":"2704b94b.b5a4e6","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":180,"wires":[["a0932b4b.c74d78","c2f5ca70.ccdf48"]]},{"id":"6e148a83.5aad24","type":"ui_group","z":"","name":"Default","tab":"38f264e4.8bf50c","order":1,"disp":true,"width":"6","collapse":false},{"id":"38f264e4.8bf50c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]